[Desktop Entry]
Version=1.0
Type=Application
Name=HeelonVault
Comment=Gestionnaire de mots de passe
Exec=/opt/heelonvault/run.sh
TryExec=/opt/heelonvault/run.sh
Icon=heelonvault
Terminal=false
Categories=System;Security;
Keywords=security;secret;encryption;vault;password;
StartupNotify=true
StartupWMClass=com.heelonvault.rust
