<?xml version="1.0" encoding="UTF-8"?>
<!--
  HeelonVault - main.wxs (minimal & fiable)
  Regles d'or :
  - AUCUNE WixVariable vide (crash LGHT0001)
  - Pas d'UIRef : installation silencieuse possible, aucune licence RTF requise
  - Layout : INSTALLFOLDER\bin (exe + DLL)  INSTALLFOLDER\lib  INSTALLFOLDER\share
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="HeelonVault"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="Heelonys"
           UpgradeCode="B0C8A091-55B8-4101-A510-119779831DFD">

    <Package Description="HeelonVault - Gestionnaire de secret"
             Manufacturer="Heelonys"
             InstallerVersion="500"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <Media Id="1" Cabinet="HeelonVault.cab" EmbedCab="yes" />

    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A newer version of HeelonVault is already installed." />

    <Property Id="ARPHELPLINK" Value="https://github.com/ppaperso/heelonvault-core" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="HeelonVault" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="HeelonVault">
          <Component Id="StartMenuShortcut" Guid="*">
            <Shortcut Id="StartMenuShortcut" Name="HeelonVault"
                      Description="Launch HeelonVault"
                      Target="[INSTALLFOLDER]bin\heelonvault.exe"
                      WorkingDirectory="INSTALLFOLDER" />
            <RemoveFolder Id="RemoveApplicationProgramsFolder"
                          Directory="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\HeelonVault"
                           Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainFeature" Title="HeelonVault" Level="1" Absent="disallow">
      <ComponentGroupRef Id="StagingComponents" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Product>
</Wix>